/*HTML= estructura + Contenido
HTML + Diseño=CSS3
CSS= Hojas de estilo en cascada
   = Maquetado= maquetacion

Orden en van los elementos:
   1.- Pseudo-elementos
   		Contine atributos
   2.- Etiquetas <etiquetas>
		Contine atributos
   3.- Identificadores
		Contine atributos
   4.- Clases
		Contine atributos
   5.- Elemento de responsive  design (Diseño adaptativo)
		Contine atributos

   Todos ellos en orden alfabetico
   Tanto elementos como atributos*/

body {
	background: rgba(255,0,0,0.5);
	border: 1px solid red; /*Poner borde*/
	color: white;/*Color Letra*/
	/*Atributo: Valor;*/
	font-size: 16px; /*Tamaño de la fuente*/
	margin: 0px auto;
	max-width: 1024px; /*Ancho de pantalla predeterminado 1024*/
}
header {
	border: 1px solid blue;
	text-align: center;

}
header img {
		float: right;
		width: 90px;
		margin: -70px 20px 0px 0px
}
header nav ul li{
	/*border: 1px solid tomato;*/
	display: inline-block;
	background: blue;
	border-radius: 5px;
	color: white;
	margin: 0px 10px 0px 0px; 
	padding: 5px 10px;
	width: 100px;

}

